/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS variables */
:root {
  /* Colors */
  --purple: rgba(52, 33, 146);
  --purpleDark: rgb(19, 12, 54);
  --purpleBackgroundLight: rgba(52, 33, 146, 0.2);
  --gray: rgb(234, 234, 234);
}

/* Main Styles */
body {
  color: var(--purpleDark);
  font-family: 'Poppins', sans-serif;
}

/* Navigation */
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray);
  margin-bottom: 3rem;
  padding: 0.5rem 1rem;
}
.nav-button {
  text-decoration: none;
  background: var(--purple);
  color: white;
  padding: 1rem;
  border-radius: 5px;
  transition: 0.2s;
}
.nav-button:hover {
  background: var(--purpleDark);
}

/* Main users & posts container */
#container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin: 1rem;
}
.user-card,
.post-card {
  background: var(--purpleBackgroundLight);
  padding: 1rem;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
}
.user-card:hover,
.post-card:hover {
  background: var(--purpleDark);
  color: white;
}
.post-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post-card--title,
.post-card--body::first-letter {
  text-transform: capitalize;
}

/* Media Queries */
@media (min-width: 768px) {
  #container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  #container {
    grid-template-columns: repeat(3, 1fr);
  }
}
